body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(208, 194, 194);
    /* Changed to black */
}

.logo {
    float: left;
    padding: 10px;
    width: 5%;
    height: 7%;
    margin-left: 50px;
}

.navbar {
    background-color: #333;
    color: #333;
    padding: 15px;

}

.text {
    color: white;
    padding: 20px;
    display: inline-flex;



    font-size: 20px;
    font-weight: bold;
}

a .text {
    margin-bottom: 20px;

}

.nav-el:hover {
    color: #895a5a;
    transition: 0.5s;
    /* Change to the color you want on hover */
}

.nav-el {
    color: #fff;
    text-decoration: none;
    padding: 2px;
    font-size: 20px;
    font-weight: bold;

}

.navbar ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    float: right;

    /* Added to move navbar items to the right */
}

.navbar ul li {
    display: inline-flex;
    margin-right: 20px;

}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar::after {
    content: "";
    display: table;
    clear: both;
    /* Clear float */
}

.main-content {
    margin: 15px;
}

.main-content h1 {
    color: #333;
    text-align: center;
    font-size: 45px;
}

.main-content p {
    color: #666;
    text-align: center;
    margin-top: 150px;
    font-size: 30px;
}

.func {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

.func .butt {
    padding: 35px 70px;
    border-radius: 30px;
}



.func .butt:hover {
    background-color: #9797d2;
    transition: 0.5s;
}

.butt {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.butt:hover {
    background-color: #444;
}